server:
  port: 8084

spring:
  application:
    name: grade-service
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    schemas: public
  data:
    redis:
      host: ${SPRING_REDIS_HOST:redis}
      port: 6379
  cache:
    type: redis
    redis:
      time-to-live: 1800000
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:rabbitmq}
    port: 5672
    username: ${SPRING_RABBITMQ_USERNAME:sms_user}
    password: ${SPRING_RABBITMQ_PASSWORD}

eureka:
  instance:
    hostname: grade-service
    prefer-ip-address: false
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}

jwt:
  secret: ${JWT_SECRET}
